main {
  display: block;
  width: 100%;
  height: 100vh;
  background: #000000;
  box-sizing: border-box;
  color: white;
  overflow-y: hidden;

  * {
    touch-action: none;
    user-select: none;
  }

  header {
    padding: 10px 20px;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #191919;
    border-bottom: solid 1px #000000;
    box-sizing: border-box;
    @media (max-width: 1280px), (max-height: 800px) {
      padding: 8px 16px;
      height: 45px;
    }

    .leftHeader {
      display: flex;
      align-items: center;
      @media (max-width: 1280px), (max-height: 800px) {
        img {
          width: 80px;
          height: auto;
        }
      }

      .title {
        border: #20262D 1px solid;
        border-radius: 5px;
        height: 40px;
        width: 200px;
        margin-left: 50px;
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        @media (max-width: 1280px), (max-height: 800px) {
          height: 32px;
          width: 150px;
        }

        input {
          border: none;
          background: rgba(0, 0, 0, 0);
          color: #a5d1e7;
          width: 100%;
          font-size: 20px;
          -webkit-text-fill-color: #a5d1e7;

          &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active, &:focus, :focus {
            border: none !important;
            transition: background-color 5000s ease-in-out 0s;
            outline: none;
            color: #5b6d81;
          }
        }
      }
    }

    .rightHeader {
      display: flex;
      align-items: center;
      @media (max-width: 1280px), (max-height: 800px) {
      }

      .publish {
        background: #519EF4;
        border-radius: 5px;
        padding: 6px 25px;
        margin: auto 10px;
        cursor: pointer;
        @media (max-width: 1280px), (max-height: 800px) {
          padding: 4.8px 20px;
          margin: auto 8px;
          font-size: 14px;
        }
      }

      .workspaceName {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: #373E48;
        border: #707070;
        color: #FFFFFF;
        width: 165px;
        height: 40px;
        border-radius: 35px;
        font-family: 'Apple SD Gothic Neo', sans-serif;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        @media (max-width: 1280px), (max-height: 800px) {
          width: 132px;
          height: 32px;
          border-radius: 28px;
          font-size: 15px;
          .workIcon {
            width: 20px;
            height: 20px;
            margin: 1px;
          }
        }

        .workIcon {
          width: 23px;
          height: 23px;
          margin: 5px;
        }

        div {
          font-family: Rubik, sans-serif;
          font-weight: lighter;

          &:first-child {
            font-size: 8px;
          }

          &:last-child {
            font-size: 11px;
          }
          @media (max-width: 1280px), (max-height: 800px) {
            &:first-child {
              font-size: 6.4px;
            }

            &:last-child {
              font-size: 8.8px;
            }
          }
        }

        .downIcon {
          width: 28px;
          height: 28px;
          margin: 3px;
        }
      }

      img {
        height: 24px;
        width: auto;
        padding: 5px;
        margin: 5px;
      }
    }
  }

  .main {
    display: grid;
    grid-template-columns: 400px calc(100vw - (400px + 300px)) 300px;
    height: calc(100vh - 70px);
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    @media (max-width: 1280px), (max-height: 800px) {
      height: calc(100vh - 45px);
      grid-template-columns: 250px calc(100vw - (250px + 250px)) 250px;
    }

    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #000000;
    }

    ::-webkit-scrollbar {
      width: 6px;
      background-color: #000000;
    }

    ::-webkit-scrollbar:horizontal {
      height: 6px;
      background-color: #000000;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #3e3e3e;
    }

    .leftPanel {
      display: flex;
      width: 400px;
      min-width: 200px;
      max-width: 400px;
      background: #000000;
      border-right: solid 1px #000000;
      @media (max-width: 1280px), (max-height: 800px) {
        width: 250px;
        min-width: 200px;
        overflow-x: hidden;
      }

      nav {
        background: #191919;
        width: 80px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        @media (max-width: 1280px), (max-height: 800px) {
          width: 54px;
          gap: 10px 0;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 80px;
          padding: 3vh 0;
          flex-direction: column;
          cursor: pointer;
          box-sizing: border-box;
          @media (max-width: 1280px), (max-height: 800px) {
            width: 55px;
            height: 2.5vh;
            padding: 4vh 0;
          }

          img {
            width: 2.6vh;
            max-width: 25px;
            height: auto;
          }

          &:hover {
            background: #1B1C1E;
          }

          &.active {
            background: #1B1C1E;
          }

        }
      }

      > div {
        display: flex;
        height: 100%;
        width: 320px;
        flex-wrap: wrap;
        overflow-y: auto;
        justify-content: flex-start;
        box-sizing: border-box;
        background: #1B1C1E;
        align-content: flex-start;
        @media (max-width: 1280px), (max-height: 800px) {
          width: 256px;
          overflow-x: hidden;
        }

        label {
          width: inherit;
          max-height: 50px;
          margin: 10px;
          border: solid #a4a4a4 1px;
          border-radius: 10px;

          input {
            width: 100%;
            padding: 10px;
            color: #a4a4a4;
            border: none;
            outline: none;
          }
        }

        .mediaList {
          height: calc(100% - 68px);
          overflow-y: auto;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
        }

        &.emojiPanel {
          flex-direction: row;
          justify-content: space-between;

          span {
            justify-content: center;
            display: flex;
            align-items: center;

            &:hover {
              background: black;
            }
          }
        }

        img {
          width: 17vh;
          max-width: 100%;
          height: auto;
          margin: 3px;
          box-sizing: border-box;
          border-radius: 5px;
        }

        &.background {
          //background: green;
          display: block;

          .colourBox {
            display: flex;
            flex-wrap: wrap;

            span {
              width: 45px;
              height: 50px;
              margin: 4px;
              border-radius: 4px;
              cursor: pointer;
              box-sizing: border-box;

              &:hover {
                border: white solid 2px;
                box-shadow: 0 0 10px white;
              }
            }
          }

          .colourPickerBox {
            padding: 10px;
            display: flex;
            flex-flow: column;
            div {
              display: flex;
              align-items: center;
            }
            .colourText {
              input {
                width: 100px;
                height: 25px;
                border-radius: 4px;
                border: none;
              }
            }

            .colourPicker {
              input {
                border: 0 solid white;
                width: 25px;
                height: 25px;
                border-radius: 5px;
              }
            }
          }

          .selectColours {
            padding: 0 10px;
            .selectColoursTitle {
              display: block;
            }
            div {
              display: flex;
              justify-content: space-between;

              input[type=text] {
                width: 50px;
                height: 25px;
                border-radius: 4px;
                border: none;
              }
              input[type=color] {
                width: 25px;
                height: 25px;
                border-radius: 4px;
                border: none;
              }
            }
          }

          .colourType {
            display: flex;
            justify-content: space-around;
            padding: 30px;
            label {
              display: flex;
              flex-direction: column;
              input, select {
                width: 100px;
                height: 25px;
                border-radius: 4px;
                border: none;
              }
            }
          }

          .texture {
            .textureList {
              height: calc(100vh - 250px);
              overflow-y: auto;
            }
            .backgroundSettings {

            }
          }
        }
      }
    }

    .editor {
      display: block;
      overflow-y: auto;
      width: 100%;
      background: #191919;

      > div {
        @media (max-width: 1280px), (max-height: 800px) {
          transform: scale(0.6);
          transform-origin: center 18vh;
        }
        @media (max-width: 1280px), (max-height: 700px) {
          transform: scale(0.55);
          transform-origin: center 17vh;
        }

        box-sizing: border-box;
        overflow: auto;
        transform: scale(0.9);
        transition: transform linear 200ms;


        .pageNavigation {
          width: 421.641px;
          height: 20px;
          margin: 0 auto;
          display: flex;

          .pageNav {
            width: 100%;
            height: 10px;
            border-radius: 10px;
            background: #519EF4;
            margin: 2px;
            box-sizing: border-box;
            cursor: pointer;

            &.active {
              background: #707070;
              &:hover {
                background: #707070;
              }
            }
            &:hover {
              background: #53a5fe;
            }
          }
        }

        .page {
          width: 421.641px;
          height: 702.750px;
          background: #eeeeee;
          display: block;
          margin: 5px auto 10px auto;
          //transform: scale(1, 1);

          div {
            position: absolute;
          }
        }

        .pageBottomControl {
          width: 421.641px;
          height: 50px;
          margin: 5px auto;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 20px;
          img {
            margin: 2px;
            padding: 10px;
            cursor: pointer;
            width: 35px;
            height: auto;
            border-radius: 5px;
            font-family: 'Circular Std Bold';

            &:hover {
              background: black;
            }
          }
        }
      }

      footer {
        width: calc(100vw - (400px + 300px));
        height: 50px;
        background: #191919;
        position: fixed;
        bottom: 0;
        border-top: 2px solid #2B2D32;
        //display: flex;
        //justify-content: space-between;
        @media (max-width: 1280px), (max-height: 800px) {
          width: calc(100vw - (250px + 250px));
        }

        .zoomSize {
          width: 100px;
        }
      }
    }

    aside {
      width: 300px;
      background: #1B1C1E;
      color: #d9d9d9;
      max-height: 100%;
      overflow-y: auto;
      border-left: solid 1px #000000;
      @media (max-width: 1280px), (max-height: 800px) {
        width: 250px;
      }

      .newPageButton {
        position: fixed;
        margin-left: -60px;
        bottom: 120px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 100%;
        background: #519EF4;
        color: black;
        @media (max-width: 1280px), (max-height: 800px) {
          width: 40px;
          height: 40px;
        }
      }
      .previewButton {
        position: absolute;
        margin-left: -60px;
        bottom: 60px;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 100%;
        background: #519EF4;
        color: black;
        @media (max-width: 1280px), (max-height: 800px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

}

.resizable {
  background: white;
  width: auto;
  height: auto;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers {
  width: 100%;
  height: content-box;
  border: 3px solid #4286f4;
  box-sizing: border-box;
}

.resizable .resizers .resizer {
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}

.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}

.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

//.resizerFrame {
//  position: absolute;
//  width: 100%;
//  height: 100%;
//
//  .resizer {
//    width: 10px;
//    height: 10px;
//    background: #f2f2f2;
//    border: 1px solid #d0d0d0;
//    border-radius: 100%;
//    z-index: 2000;
//  }
//
//  .leftResizer {
//    position: absolute;
//    left: 0;
//    border: solid 1px dodgerblue;
//    height: 100%;
//    width: 0;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//
//    .topLeftResizer {
//      margin-left: -7px;
//      margin-top: -5px;
//      cursor: nw-resize;
//    }
//
//    .bottomLeftResizer {
//      margin-left: -7px;
//      margin-bottom: -5px;
//      cursor: sw-resize;
//    }
//  }
//
//  .rightResizer {
//    position: absolute;
//    right: 0;
//    border: solid 1px dodgerblue;
//    height: 100%;
//    width: 0;
//    display: flex;
//    flex-direction: column;
//    justify-content: space-between;
//
//    .topRightResizer {
//      margin-left: -6px;
//      margin-top: -5px;
//      cursor: ne-resize;
//    }
//
//    .bottomRightResizer {
//      margin-left: -6px;
//      margin-bottom: -5px;
//      cursor: se-resize;
//    }
//  }
//}
.resize-drag {
  &:hover {
    //border: 1px solid blue;
    //box-sizing: border-box;
  }
}

.inUse {
  overflow: hidden;
}

.contextmenu {
  width: 150px;
  height: 200px;
  position: absolute;
  background: white;
  box-shadow: 0 0 5px 2px gray;
  z-index: 3000;
  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    > div {
      width: 100%;
      height: 35px;
      padding: 5px;
      box-sizing: border-box;
      font-size: 14px;
      position: relative!important;
      color: #404040;
      display: flex;
      align-items: center;
      &:hover {
        background: #e2e2e2;
        cursor: pointer;
      }
    }
  }
}

.textEdit {
  &:hover {
    border: 0.5px solid #000000;
    box-shadow: #b9b9b9 0 0 2px;
    box-sizing: border-box!important;
  }
}


.tabRow {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  height: 50px;
  position: relative;
  //align-items: center;
  //justify-content: space-around;
  gap: 0 10px;
  background: #1B1C1E;
  padding: 0;
  @media (max-width: 1280px), (max-height: 800px) {
    height: 40px;
  }

  div {
    //display: inline-grid;
    //flex-grow: 1;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 10px 0;
    cursor: pointer;
    box-sizing: border-box;
    @media (max-width: 1280px), (max-height: 800px) {
      //padding: 5px 10px;
      font-size: 14px;
    }
    &:hover {
      height: calc(100% - 4px);
      border-bottom: solid 4px #519EF4;
    }
    &.active {
      height: calc(100% - 4px);
      border-bottom: solid 4px #519EF4;
    }
  }
}

//Moveable CSS
.moveable-control.moveable-direction[data-direction="n"],
.moveable-control.moveable-direction[data-direction="s"]
{
  height: 6px;
  width: 22px;
  border-radius: 2px;
  margin-top: -3px;
  margin-left: -12px;
}
.moveable-control.moveable-direction[data-direction="e"],
.moveable-control.moveable-direction[data-direction="w"] {
  height: 22px;
  width: 6px;
  border-radius: 2px;
  margin-top: -12px;
  margin-left: -3px;
}
.moveableObj {position: absolute;overflow: hidden;}

.binaryInteraction {
  width: 250px;
  height: 150px;
  margin: 20px 35px;
  border-radius: 40px 40px 20px 20px;
  background: #0259ED;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      width: 250px;
      height: 150px;
      z-index: 1;
    }
  }
  .question {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 600;
    padding: 0 50px;
    height: 65px;
  }

  .options {
    position: relative !important;
    width: 100%;
    height: 85px;
    border-radius: 20px;
    background: white;
    display: flex;
    color: black;

    div {
      position: relative !important;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;
      max-width: 50%;
      overflow: hidden;
      font-weight: 900;
      font-size: 1.5em;
      color: inherit;
      padding: 20px;
      &:first-child {
        border-right: 0.2px groove #EAEAEA;
        border-right-width: thin;
      }
    }
  }
}

.pollInteraction {
  width: 250px;
  margin: 20px 35px;
  border-radius: 40px 40px 20px 20px;
  background: #0259ED;
  height: max-content;

  &:hover {
    &:before {
      content: '';
      position: absolute;
      width: 250px;
      height: 150px;
      z-index: 1;
    }
  }
  .question {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    font-weight: 600;
    min-height: 65px;
    padding: 15px 10px;
    height: max-content;
  }

  .options {
    position: relative !important;
    width: 100%;
    height: max-content;
    border-radius: 20px;
    background: white;
    //display: flex;
    color: black;
    padding: 10px;

    > div {
      position: relative !important;
      box-shadow: 0 0 2px #7c7c7c;
      margin-top: 6.3px;
      border-radius: 10px;
      box-sizing: border-box;
      font-weight: 500;
      font-size: 1em;
      color: inherit;
      padding: 0 9.4px;
      height: 44.2px;
      display: flex;
      align-items: center;
      div {
        span {
          margin-right: 10px;
          border-radius: 100%;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #0a81be;
          padding: 12px;
        }
      }
      &:first-child {
        border-right: 1px solid #EAEAEA;
      }
    }
  }
}
